/* *************************** */
/* below 1344px width (smaller laptops)*/
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  /* .gallery {
    grid-template-columns: repeat(, 1fr);
  } */
}

/* *************************** */
/* below 1200px width (landscape tablets)*/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  /* .testimonials-container {
    padding: 9.6rem 3.2rem;
  } */
}

/* *************************** */
/* below 944px width (tablets)*/

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 26px 18rem;
    justify-content: center;
    align-items: center;
  }
  .btns {
    justify-content: center;
    align-items: center;
  }

  .hero-image {
    width: 60%;
  }

  .hero-text,
  .hero-image-box {
    text-align: center;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }
  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .cta {
    grid-template-columns: 1fr 1fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  .btn-mobile--open {
    display: block;
  }

  .btn-mobile-nav {
    z-index: 1000;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(100%);
    pointer-events: none;
    visibility: hidden;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
  }

  .main-nav--transition {
    transition: all 500ms ease-out;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  .nav-open .btn-mobile--close {
    display: block;
  }
  .nav-open .btn-mobile--open {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
    margin-left: 0;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .testimonial::before {
    top: -3.7rem;
    left: -4.8rem;
    font-size: 10rem;
  }
}

/* *************************** */
/* below 704px width (smaller tablets)*/

@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero {
    gap: 0;
    padding: 4rem;
  }

  .section-about {
    flex-direction: column-reverse;
    padding: 9.6rem 0;
    gap: 5rem;
    /* height: 100vh; */
  }

  .about-container {
    width: 100%;
  }

  .logos img {
    height: 2rem;
  }

  .diets {
    grid-column: 1/-1;
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .pricing-plan {
    width: 100%;
  }

  .pricing-plan--complete::after {
    top: 5%;
    right: -27%;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }

  .address-col,
  .logo-col {
    grid-column: span 3;
  }
}

/* *************************** */
/* below 550px width (phones)*/

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 3.2rem;
    height: 80vh;
  }

  .btns {
    flex-direction: column;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .hero-image {
    width: 80%;
  }

  .logos img {
    height: 1.1rem;
  }

  .step-img-box:nth-child(3) {
    grid-row: 4;
  }

  /* .step-img-box:first-of-type {
    grid-row: 2;
  }

  .step-img-box:nth-child(2) {
    grid-row: 4;
  }
  .step-img-box:nth-child(3) {
    grid-row: 6;
  } */

  .step-img-box {
    margin-bottom: 6rem;
    transform: translateY(2.4rem);
    -webkit-transform: translateY(2.4rem);
    -moz-transform: translateY(2.4rem);
    -ms-transform: translateY(2.4rem);
    -o-transform: translateY(2.4rem);
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }

  .cta-txt-box {
    padding: 3.2rem;
  }

  .footer {
    padding-bottom: 4rem;
  }

  .pricing-plan--complete::after {
    top: 8%;
    right: -15%;
  }
}

.footer-link--link:link,
.footer-link--link:visited {
  font-size: 1.5rem;
}

.list-item--hide {
  visibility: hidden;
}

/* *************************** */
/* below 425 width (M phones)*/

@media (max-width: 26.5em) {
  .pricing-plan--complete::after {
    top: 9%;
    right: -18%;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* *************************** */
/* below 320 width (S phones)*/

@media (max-width: 20em) {
  .pricing-plan--complete::after {
    top: 5%;
    right: -27%;
  }

  .btn--full {
    margin: 0 0 2rem 0 !important;
  }

  .section-cta,
  .section-featured,
  .section-hero,
  .section-how,
  .section-meals,
  .section-pricing,
  .section-testimonials {
    padding-top: 2.3rem;
  }
}

/* *************************** */
/* fixing no gap in safari */

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
