/* *************************** */
/* header */

.header {
  display: flex;
  align-items: center;
  background-color: var(--primary-black);
  height: 13rem;
  padding: 1rem 4.8rem;
  position: relative;
}

.logo {
  height: 6rem;
}

.main-nav {
  margin-left: auto;
}

/* *************************** */
/* navigation */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.5rem;
  margin-left: auto;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-white);
  font-weight: 500;
  font-size: 1.5rem;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--secondary-gold);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  border: 2px solid var(--accent-bright-orange);
  padding: 1.2rem 2.4rem;
  color: var(--primary-white);
}

.main-nav-link.nav-cta:active,
.main-nav-link.nav-cta:hover {
  background-color: var(--secondary-gold);
}

.nav-active {
  color: var(--accent-bright-orange) !important;
  font-size: 1.6rem !important;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  margin-left: auto;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: var(--primary-white);
}
.btn-mobile--close {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 10rem;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 999;
  /* box-shadow: 0 1.2rem 3.2rem rgba(0, 0, blue, 0.03); */
}

/* *************************** */
/* hero */

.section-hero {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 130%
    ),
    linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 90%),
    url(/img/logos/hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8.8rem 0 9.6rem 0;
  height: 100vh;
}

.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  align-items: center;
  gap: 9.6rem;
  height: 55vh;
}

.hero-image {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.btns {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  justify-content: start;
  align-items: center;
}

.heading-primary span {
  color: var(--accent-bright-orange);
}

/* *********************************** */
/* about us */

.section-about {
  display: flex;
  /* height: 80vh; */
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 9.6rem 0 0 0;
  position: relative;
}

.section-about::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 105%;
  top: 0;
  right: 0;
  background-color: black;
}

.photo-container {
  width: 50%;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.about-img {
  background-image: url(/img/logos/gallery/about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 40rem;
  height: 40rem;
  outline: 2px solid var(--primary-white);
  outline-offset: 20px;
  overflow: visible;
  position: relative;
  z-index: 2;
}

.about-img--exp {
  content: "YEARS OF EXPERIENCE";
  font-size: 1.2rem;
  background-color: var(--accent-bright-orange);
  text-align: center;
  font-weight: 900;
  position: absolute;
  bottom: -60px;
  right: -85px;
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.about-img--exp span:first-child {
  font-size: 7rem;
  font-weight: 900;
  background-image: url(/img/logos/gallery/gallery-9.jpg);
  background-size: cover;
  background-clip: text;
  color: transparent;
  z-index: 2;
}

.about-img--exp span:last-child {
  color: var(--primary-black);
  z-index: 2;
}

.about-container {
  width: 50%;
  font-size: 2rem;
  padding: 5rem;
  z-index: 2;
}

.about-container p {
  margin-bottom: 2rem;
  line-height: 1.6;
  z-index: 2;
}

.values-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.values-list li {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  color: var(--shade-gold);
}

/* *************************** */
/* services */

.section-services {
  padding: 13.6rem 0 0 0;
}

.section-services .grid {
  gap: 0 0;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.step-img-box::before {
  width: 60%;

  padding-bottom: 60%;

  background-color: var(--color-primary-tint);
  z-index: -2;
}

.step-img-box::after {
  width: 50%;

  padding-bottom: 50%;

  background-color: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 100%;
}

.step-text-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: var(--accent-bright-orange);
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* *********************************** */

/* Testimonial SLIDER */
.slider {
  max-width: 110rem;
  height: 45rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 45rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: var(--accent-bright-orange);
  font-family: inherit;
  color: black;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.slider__btn img {
  width: 3rem;
  height: 3rem;
}

.slider__btn--left {
  left: 8%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 8%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: var(--secondary-gold);
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: var(--shade-gold);
  opacity: 1;
}

/* TESTIMONIALS */

.section-testimonials {
  padding: 13.6rem 0 0 0;
}

.section-testimonials h2 {
  font-size: 3.5rem;
  margin-bottom: 0;
}

.testimonial {
  width: 65%;
  position: relative;
}

.testimonial::before {
  content: "\201C";
  position: absolute;
  top: -5.7rem;
  left: -6.8rem;
  line-height: 1;
  font-size: 15rem;
  font-family: inherit;
  color: var(--accent-bright-orange);
  opacity: 0.4;
  z-index: -1;
}

.testimonial__header {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: var(--accent-bright-orange);
}

.testimonial__text {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
  color: var(--color-primary);
}

.testimonial__author {
  margin-left: 3rem;
  font-style: normal;
  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.testimonial__photo {
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
}

.testimonial__name {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
  width: max-content;
}

.testimonial__location {
  font-size: 1.5rem;
}

.section__title--testimonials {
  margin-bottom: 4rem;
}

/* *********************************** */

/* *************************** */
/* testimonials */
/* 
.section-testimonials {
  padding: 9.6rem 0 0 0;
}

.testimonials-container {
  padding: 0 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-txt {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: var(--color-primary-tint);
} */

/* *************************** */
/* gallery */

.section-gallery {
  padding: 13.6rem 0 0 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
}

.gallery-item img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* *************************** */
/* CTA */

.section-cta {
  padding: 10.6rem 0 4rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 0 1.8rem var(--secondary-gold);
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  background-image: linear-gradient(
    to right bottom,
    var(--primary-deep-blue),
    var(--accent-teal)
  );
  overflow: hidden;
}

.cta-txt-box {
  padding: 4.8rem 5rem 6.4rem 5rem;
  color: var(--shade-gold);
}

.cta-txt-box div select {
  color: var(--secondary-black);
}

.cta .heading-secondary {
  color: var(--accent-bright-orange);
  margin-bottom: 3.2rem;
}

.cta-txt {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
    to right bottom,
    var(--accent-bright-orange),
    var(--secondary-gold)
  );
  background-size: cover;
  background-position: center;
}

.cta-img-box img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: var(--tint-light-gray);
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  box-shadow: 0 1px 2px var(--secondary-light-gray);
}

.cta-form input::placeholder {
  color: rgb(153, 153, 153);
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem rgba(253, 242, 233, 0.5);
}

/* *************************** */
/* Map */

.section-map {
  padding: 13.6rem 0 4rem 0;
  height: 100vh;
}
.map-container {
  font-size: 2rem;
  padding: 5rem;
  z-index: 2;
}

.map-container p {
  margin-bottom: 2rem;
  line-height: 1.6;
  z-index: 2;
}

.map-wrapper {
  max-width: 75%;
  height: 45rem;
  margin: 0 auto;
}
/* *************************** */
/* Footer */

.footer {
  padding: 6.8rem 0;
  border-top: 1px solid var(--primary-white);
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.copyright {
  font-size: 1.3rem;
  color: var(--secondary-light-gray);
  line-height: 1.6;
  margin-top: auto;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--primary-white);
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.footer-link:hover,
.footer-link:active {
  color: var(--accent-bright-orange);
}

.footer-link--link:link,
.footer-link--link:visited {
  color: var(--shade-gold);
  text-decoration: underline;
}

/* ////////////// */
/* ////////////// */
/* ////////////// */
/* ////////////// */
.collapsible-toggle {
  display: block;
  font-weight: bold;
  font-size: 3.2rem;
  text-align: center;
  padding: 1rem;
  color: var(--primary-white);
  background-color: transparent;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 400px;
}
.collapsible-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.collapsible-toggle:hover {
  background-color: var(--secondary-gold);
}

.collapsible-content {
  margin-top: 2rem;
  max-height: 0;
  overflow: scroll;
  transition: max-height 0.5s ease;
  background-color: var(--primary-black);
  padding: 0 18px;
}

.collapsible-content.show {
  max-height: 400px;
}
